# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Row Match.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\DreamGamesCaseStudy\Row Match\.idea\.idea.Row Match\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
